#[submodule "vim/vimproc.vim"]
#	path = vim/vimproc.vim
#	url = https://github.com/Shougo/vimproc.vim
#[submodule "vim/vim-repl"]
#	path = vim/vim-repl
#	url = https://github.com/khorser/vim-repl
#[submodule "vim/vim-notebook"]
#	path = vim/vim-notebook
#	url = https://github.com/baruchel/vim-notebook
#[submodule "vim/vim-slime"]
#	path = vim/vim-slime
#	url = git://github.com/jpalardy/vim-slime.git
#[submodule "vim/zenburn.penta"]
#	path = vim/zenburn.penta
#	url = https://github.com/grassofhust/zenburn.penta
#[submodule "vim/vim-pathogen"]
#	path = vim/vim-pathogen
#	url = https://github.com/tpope/vim-pathogen
#[submodule "vim/pipe2eval"]
#	path = vim/pipe2eval
#	url = https://github.com/zweifisch/pipe2eval
[submodule "vim/vim-easymotion"]
	path = vim/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "development/Gdbinit"]
	path = development/Gdbinit
	url = https://github.com/gdbinit/Gdbinit
[submodule "vim/vim-signify"]
	path = vim/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule "vim/vim-easy-align"]
	path = vim/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
#[submodule "vim/julia-vim"]
#	path = vim/julia-vim
#	url = https://github.com/JuliaLang/julia-vim.git
#[submodule "vim/nvim-nim"]
#	path = vim/nvim-nim
#	url = https://github.com/baabelfish/nvim-nim
[submodule "vim/nim.vim"]
	path = vim/nim.vim
	url = https://github.com/zah/nim.vim/
[submodule "development/zsh-syntax-highlighting"]
	path = development/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "development/gdb-dashboard"]
	path = development/gdb-dashboard
	url = https://github.com/cyrus-and/gdb-dashboard
[submodule "vim/vim-noscrollbar"]
	path = vim/vim-noscrollbar
	url = https://github.com/gcavallanti/vim-noscrollbar
[submodule "vim/vim-signature"]
	path = vim/vim-signature
	url = https://github.com/kshenoy/vim-signature
[submodule "vim/vim-ingo-library"]
	path = vim/vim-ingo-library
	url = https://github.com/inkarkat/vim-ingo-library
[submodule "vim/vim-mark"]
	path = vim/vim-mark
	url = https://github.com/inkarkat/vim-mark
[submodule "vim/vim-markbar"]
	path = vim/vim-markbar
	url = https://github.com/Yilin-Yang/vim-markbar
[submodule "vim/ultisnips"]
	path = vim/ultisnips
	url = https://github.com/sirver/ultisnips
[submodule "vim/async.vim"]
	path = vim/async.vim
	url = https://github.com/prabirshrestha/async.vim
[submodule "vim/asyncomplete-lsp.vim"]
	path = vim/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule "vim/asyncomplete.vim"]
	path = vim/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule "vim/vim-lsp"]
	path = vim/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "vim/vim-lsp-settings"]
	path = vim/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings
