[Desktop Entry]
Version=1.0
Type=Application
Name=xsearch.py: search selection
Comment=
Exec=xsearch.py
Icon=preferences-system-search
Path=
Terminal=false
StartupNotify=false
